
.navbar{
    background-color: #2e0116;
    margin-top: 0px;
}
body{
    background-image: url('../img/fondo.jpg');
    background-size:cover;

    
}

h1{
    margin: 100px;
    text-align: center;
    
}

.img-responsive{
   width:  100%;
}
.panel-default{
    height: 500%;
}