.card-content{
    width: 100%;
    opacity: 0.8;
    font-size: 25px;
    border-radius: 10px;
    background-color: aliceblue;
    text-align: center;
}
footer{
    background-color: rgb(29, 28, 28);
}